In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Limpieza de la base de datos ##

1. Descargar la base de datos.

In [129]:
df = pd.read_csv("Data.csv", encoding="ISO-8859-1", low_memory=False)
df.columns
df.head()

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets',
       'Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL',
       'B365W', 'B365L', 'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL', 'WPts',
       'LPts', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL'],
      dtype='object')

2. Eliminamos las columnas pertenecientes a las probabilidades de diferentes casas de apuestas.

In [130]:
df_1 = df.drop(columns=['CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL',
       'B365W', 'B365L', 'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW', 'MaxL',
       'AvgW', 'AvgL'])
df_1.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets',
       'Comment', 'WPts', 'LPts'],
      dtype='object')

3. Observamos los valores que tiene la columna Series para ver los tipos de torneos que existen en el dataset.

In [131]:
print(df_1["Series"].value_counts())

Series
International           11894
ATP250                   8976
Grand Slam               8636
Masters                  5285
Masters 1000             4324
International Gold       3755
ATP500                   3139
International Series      403
Masters Cup               240
Name: count, dtype: int64

3. En este proyecto nos centraremos en los torneos más importantes para subir en el ranking ATP, los cuales son Grand Slams, Masters 1000, ATP 250, y ATP 500 por lo que nos quedaremos solo con las filas pertenecientes a estos valores.

In [132]:
df_filtered = df_1[df_1["Series"].isin(["Grand Slam", "Masters 1000", "ATP250", "ATP500"])]

4. Verificamos si el filtro se aplicó correctamente.

In [133]:
print(df_filtered["Series"].value_counts())

Series
ATP250          8976
Grand Slam      8636
Masters 1000    4324
ATP500          3139
Name: count, dtype: int64

In [134]:
df_filtered.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,WPts,LPts
155,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Agassi A.,...,3.0,NaN,NaN,NaN,NaN,3.0,0.0,Completed,NaN,NaN
156,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Alami K.,...,5.0,NaN,NaN,NaN,NaN,3.0,0.0,Completed,NaN,NaN
157,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Arazi H.,...,2.0,NaN,NaN,NaN,NaN,3.0,0.0,Completed,NaN,NaN
158,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Behrend T.,...,7.0,6.0,3.0,6.0,0.0,3.0,2.0,Completed,NaN,NaN
159,6,Melbourne,Australian Open,17/01/2000,Grand Slam,Outdoor,Hard,1st Round,5,Bjorkman J.,...,4.0,0.0,6.0,6.0,4.0,3.0,2.0,Completed,NaN,NaN

5. Observamos los tipos de cada variable para ver si es necesario cambiarlos.

In [135]:
df_filtered["ATP"].dtype

dtype('int64')

In [136]:
df_filtered["Location"].dtype

dtype('O')

In [137]:
df_filtered["Tournament"].dtype

dtype('O')

In [138]:
df_filtered["Date"].dtype

dtype('O')

Cambiamos el tipo de Date de "objeto" a "fecha"

In [139]:
df_filtered["Date"] = pd.to_datetime(df_filtered["Date"])

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\357875077.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_filtered["Date"] = pd.to_datetime(df_filtered["Date"])
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\357875077.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Date"] = pd.to_datetime(df_filtered["Date"])

In [140]:
df_filtered.tail()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,WPts,LPts
46647,54,St. Petersburg,St. Petersburg Open,2016-09-23,ATP250,Indoor,Hard,Quarterfinals,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1425.0,846.0
46648,54,St. Petersburg,St. Petersburg Open,2016-09-23,ATP250,Indoor,Hard,Quarterfinals,3,Wawrinka S.,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,6260.0,1295.0
46649,54,St. Petersburg,St. Petersburg Open,2016-09-24,ATP250,Indoor,Hard,Semifinals,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1425.0,3390.0
46650,54,St. Petersburg,St. Petersburg Open,2016-09-24,ATP250,Indoor,Hard,Semifinals,3,Wawrinka S.,...,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,6260.0,1950.0
46651,54,St. Petersburg,St. Petersburg Open,2016-09-25,ATP250,Indoor,Hard,The Final,3,Zverev A.,...,5.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,1425.0,6260.0

In [141]:
df_filtered["Series"].dtype
df_filtered["Court"].dtype
df_filtered["Surface"].dtype
df_filtered["Round"].dtype
df_filtered["Winner"].dtype 
df_filtered["Loser"].dtype
df_filtered["WRank"].dtype
df_filtered["LRank"].dtype
df_filtered["WPts"].dtype
df_filtered["LPts"].dtype
df_filtered["W1"].dtype
df_filtered["L1"].dtype
df_filtered["W2"].dtype
df_filtered["L2"].dtype
df_filtered["W3"].dtype
df_filtered["L3"].dtype
df_filtered["W4"].dtype
df_filtered["L4"].dtype
df_filtered["W5"].dtype
df_filtered["L5"].dtype
df_filtered["Wsets"].dtype
df_filtered["Lsets"].dtype
df_filtered["Comment"].dtype
df_filtered["WPts"].dtype
df_filtered["LPts"].dtype

dtype('float64')

Cambiamos los tipos de datos de "WRank" en adelante de float a int, ya que no nos interesan los decimales.

In [142]:
df_filtered["WRank"] = df_filtered["WRank"].fillna(0).astype(int)
df_filtered["LRank"] = df_filtered["LRank"].fillna(0).astype(int)
df_filtered["WPts"] = df_filtered["WPts"].fillna(0).astype(int)
df_filtered["LPts"] = df_filtered["LPts"].fillna(0).astype(int)
df_filtered["W1"] = df_filtered["W1"].fillna(0).astype(int)
df_filtered["L1"] = df_filtered["L1"].fillna(0).astype(int)
df_filtered["W2"] = df_filtered["W2"].fillna(0).astype(int)
df_filtered["L2"] = df_filtered["L2"].fillna(0).astype(int)
df_filtered["W3"] = df_filtered["W3"].fillna(0).astype(int)
df_filtered["L3"] = df_filtered["L3"].fillna(0).astype(int)
df_filtered["W4"] = df_filtered["W4"].fillna(0).astype(int)
df_filtered["L4"] = df_filtered["L4"].fillna(0).astype(int)
df_filtered["W5"] = df_filtered["W5"].fillna(0).astype(int)
df_filtered["L5"] = df_filtered["L5"].fillna(0).astype(int)
df_filtered["Wsets"] = df_filtered["Wsets"].fillna(0).astype(int)
df_filtered["Lsets"] = df_filtered["Lsets"].fillna(0).astype(int)
df_filtered["WPts"] = df_filtered["WPts"].fillna(0).astype(int)
df_filtered["LPts"] = df_filtered["LPts"].fillna(0).astype(int)

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["WRank"] = df_filtered["WRank"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["LRank"] = df_filtered["LRank"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["WPts"] = df_filtered["WPts"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["LPts"] = df_filtered["LPts"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["W1"] = df_filtered["W1"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["L1"] = df_filtered["L1"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["W2"] = df_filtered["W2"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["L2"] = df_filtered["L2"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["W3"] = df_filtered["W3"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["L3"] = df_filtered["L3"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["W4"] = df_filtered["W4"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["L4"] = df_filtered["L4"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["W5"] = df_filtered["W5"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["L5"] = df_filtered["L5"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Wsets"] = df_filtered["Wsets"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Lsets"] = df_filtered["Lsets"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["WPts"] = df_filtered["WPts"].fillna(0).astype(int)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1648013579.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["LPts"] = df_filtered["LPts"].fillna(0).astype(int)

Revisamos si se realizó el cambio correctamente

In [143]:
df_filtered.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,WPts,LPts
155,6,Melbourne,Australian Open,2000-01-17,Grand Slam,Outdoor,Hard,1st Round,5,Agassi A.,...,3,0,0,0,0,3,0,Completed,0,0
156,6,Melbourne,Australian Open,2000-01-17,Grand Slam,Outdoor,Hard,1st Round,5,Alami K.,...,5,0,0,0,0,3,0,Completed,0,0
157,6,Melbourne,Australian Open,2000-01-17,Grand Slam,Outdoor,Hard,1st Round,5,Arazi H.,...,2,0,0,0,0,3,0,Completed,0,0
158,6,Melbourne,Australian Open,2000-01-17,Grand Slam,Outdoor,Hard,1st Round,5,Behrend T.,...,7,6,3,6,0,3,2,Completed,0,0
159,6,Melbourne,Australian Open,2000-01-17,Grand Slam,Outdoor,Hard,1st Round,5,Bjorkman J.,...,4,0,6,6,4,3,2,Completed,0,0

Agregaremos una columna de key al dataset y un nuevo dataset que tenga solo los torneos jugados en cada año.

In [144]:
df_filtered["Date"] = pd.to_datetime(df_filtered["Date"])
df_filtered["Year"] = df_filtered["Date"].dt.year
print(df_filtered.head())

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3882314273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Date"] = pd.to_datetime(df_filtered["Date"])

     ATP   Location       Tournament       Date      Series    Court Surface  \
155    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
156    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
157    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
158    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
159    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard

         Round  Best of       Winner  ... W4  L4  W5  L5  Wsets  Lsets  \
155  1st Round        5    Agassi A.  ...  0   0   0   0      3      0
156  1st Round        5     Alami K.  ...  0   0   0   0      3      0
157  1st Round        5     Arazi H.  ...  0   0   0   0      3      0
158  1st Round        5   Behrend T.  ...  6   3   6   0      3      2
159  1st Round        5  Bjorkman J.  ...  0   6   6   4      3      2

       Comment  WPts  LPts  Year
155  Completed     0     0  2000
156  Completed     0     0  2000
157  Completed     0     0  2000
158  Completed     0     0  2000
159  Completed     0     0  2000

[5 rows x 29 columns]

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3882314273.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Year"] = df_filtered["Date"].dt.year

In [145]:
df_filtered["Year"] = pd.to_datetime(df_filtered["Date"]).dt.year
torneos = df_filtered[["Tournament", "Year", "Series", "Surface"]].drop_duplicates()
torneos["Series"] = torneos["Series"].str.strip().str.upper()
torneos_validos = ["GRAND SLAM", "MASTERS 1000", "ATP500", "ATP250"]
torneos_filtrados = torneos[torneos["Series"].isin(torneos_validos)]
print(torneos_filtrados)

                                         Tournament  Year        Series  \
155                                 Australian Open  2000    GRAND SLAM
1289                                    French Open  2000    GRAND SLAM
1564                                      Wimbledon  2000    GRAND SLAM
2269                                        US Open  2000    GRAND SLAM
3118                                Australian Open  2001    GRAND SLAM
...                                             ...   ...           ...
46369    Western & Southern Financial Group Masters  2016  MASTERS 1000
46424  Winston-Salem Open at Wake Forest University  2016        ATP250
46471                                       US Open  2016    GRAND SLAM
46598                               Open de Moselle  2016        ATP250
46625                           St. Petersburg Open  2016        ATP250

      Surface
155      Hard
1289     Clay
1564    Grass
2269     Hard
3118     Hard
...       ...
46369    Hard
46424    Hard
46471    Hard
46598    Hard
46625    Hard

[591 rows x 4 columns]

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\2622558423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["Year"] = pd.to_datetime(df_filtered["Date"]).dt.year

In [146]:
print(torneos_filtrados["Series"].value_counts())

Series
ATP250          308
ATP500          147
GRAND SLAM       68
MASTERS 1000     68
Name: count, dtype: int64

In [147]:
df_filtered["TorneoID"] = df_filtered["Tournament"] + "_" + df_filtered["Year"].astype(str)
torneos_filtrados["TorneoID"] = torneos_filtrados["Tournament"] + "_" + torneos_filtrados["Year"].astype(str)
print(df.head())

   ATP  Location                          Tournament       Date  \
0    1  Adelaide  Australian Hardcourt Championships  3/01/2000
1    1  Adelaide  Australian Hardcourt Championships  3/01/2000
2    1  Adelaide  Australian Hardcourt Championships  3/01/2000
3    1  Adelaide  Australian Hardcourt Championships  3/01/2000
4    1  Adelaide  Australian Hardcourt Championships  3/01/2000

          Series    Court Surface      Round  Best of       Winner  ... UBW  \
0  International  Outdoor    Hard  1st Round        3   Dosedel S.  ... NaN
1  International  Outdoor    Hard  1st Round        3   Enqvist T.  ... NaN
2  International  Outdoor    Hard  1st Round        3    Escude N.  ... NaN
3  International  Outdoor    Hard  1st Round        3   Federer R.  ... NaN
4  International  Outdoor    Hard  1st Round        3  Fromberg R.  ... NaN

  UBL LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
0 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
1 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
2 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
4 NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[5 rows x 54 columns]

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3770870154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["TorneoID"] = df_filtered["Tournament"] + "_" + df_filtered["Year"].astype(str)

In [148]:
torneos_filtrados = torneos_filtrados[["TorneoID", "Tournament", "Year", "Series", "Surface"]]
torneos_filtrados.to_csv("Data_torneos_ATP.csv", index=False)
df_filtered.to_csv("Data_Final.csv", index=False)

Me parece interesante crear un nuevo dataset con la cantidad de puntos que entrega cada torneo ATP.

In [149]:
df_filtrado = df_filtered[(df_filtered["WPts"] > 0) | (df["LPts"] > 0)]
print(df_filtrado.head())

       ATP  Location Tournament       Date      Series    Court Surface  \
16772   51  New York    US Open 2005-08-29  Grand Slam  Outdoor    Hard
16773   51  New York    US Open 2005-08-29  Grand Slam  Outdoor    Hard
16774   51  New York    US Open 2005-08-29  Grand Slam  Outdoor    Hard
16775   51  New York    US Open 2005-08-29  Grand Slam  Outdoor    Hard
16776   51  New York    US Open 2005-08-29  Grand Slam  Outdoor    Hard

           Round  Best of       Winner  ... L4  W5  L5  Wsets  Lsets  \
16772  1st Round        5     Massu N.  ...  0   0   0      3      0
16773  1st Round        5     Baker B.  ...  0   0   0      3      0
16774  1st Round        5  Ljubicic I.  ...  0   0   0      3      0
16775  1st Round        5     Mello R.  ...  4   0   0      3      1
16776  1st Round        5   Malisse X.  ...  0   0   0      3      0

         Comment  WPts  LPts  Year      TorneoID
16772  Completed   665   283  2005  US Open_2005
16773  Completed   202  1755  2005  US Open_2005
16774  Completed  1360   198  2005  US Open_2005
16775  Completed   675   496  2005  US Open_2005
16776  Completed   701   495  2005  US Open_2005

[5 rows x 30 columns]

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1944186558.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_filtrado = df_filtered[(df_filtered["WPts"] > 0) | (df["LPts"] > 0)]

In [150]:
torneos_validos = ["ATP250", "ATP500", "MASTERS 1000", "GRAND SLAM"]
df_ATP = df_filtered[df_filtered["Series"].isin(torneos_validos)]
winners = df_filtrado[["Winner", "WPts", "Tournament", "Year", "Series"]].rename(columns={"Winner": "Player", "WPts": "Points", "Tournament": "Tournament", "Year": "Year", "Series": "Series"})
losers = df_filtrado[["Loser", "LPts", "Tournament", "Year", "Series"]].rename(columns={"Loser": "Player", "LPts": "Points", "Tournament": "Tournament", "Year": "Year", "Series": "Series"})
puntos_totales = pd.concat([winners, losers], axis=0)
puntos_jugador_torneo_ano = puntos_totales.groupby(["Tournament", "Year", "Player", "Series"])["Points"].sum().reset_index()
puntos_jugador_torneo_ano = puntos_jugador_torneo_ano.sort_values(by=["Tournament", "Year", "Series", "Points"], ascending=False)
puntos_jugador_torneo_ano = puntos_jugador_torneo_ano.sort_values(by=["Tournament", "Year", "Points"], ascending=[True, True, False])
print(puntos_jugador_torneo_ano.head())

                          Tournament  Year        Player  Series  Points
24  ABN AMRO World Tennis Tournament  2009      Nadal R.  ATP500   71300
23  ABN AMRO World Tennis Tournament  2009     Murray A.  ATP500   36800
22  ABN AMRO World Tennis Tournament  2009    Monfils G.  ATP500   12760
7   ABN AMRO World Tennis Tournament  2009  Davydenko N.  ATP500   10060
29  ABN AMRO World Tennis Tournament  2009   Tsonga J.W.  ATP500    9480

In [151]:
print(df_filtrado[df_filtrado["Series"] == "ATP250"].head())

       ATP  Location     Tournament       Date  Series    Court Surface  \
25942    4  Auckland  Heineken Open 2009-01-12  ATP250  Outdoor    Hard
25943    4  Auckland  Heineken Open 2009-01-12  ATP250  Outdoor    Hard
25944    4  Auckland  Heineken Open 2009-01-12  ATP250  Outdoor    Hard
25945    4  Auckland  Heineken Open 2009-01-12  ATP250  Outdoor    Hard
25946    4  Auckland  Heineken Open 2009-01-12  ATP250  Outdoor    Hard

           Round  Best of        Winner  ... L4  W5  L5  Wsets  Lsets  \
25942  1st Round        3    Querrey S.  ...  0   0   0      2      0
25943  1st Round        3  Ferrero J.C.  ...  0   0   0      0      0
25944  1st Round        3    Ginepri R.  ...  0   0   0      2      0
25945  1st Round        3    Troicki V.  ...  0   0   0      2      0
25946  1st Round        3     Muller G.  ...  0   0   0      2      0

         Comment  WPts  LPts  Year            TorneoID
25942  Completed  1740   120  2009  Heineken Open_2009
25943    Retired  1170  1325  2009  Heineken Open_2009
25944  Completed  1480    26  2009  Heineken Open_2009
25945  Completed  1380  1562  2009  Heineken Open_2009
25946  Completed   956  1339  2009  Heineken Open_2009

[5 rows x 30 columns]

In [152]:
# Crear una lista de los puntos por ronda para cada tipo de torneo
data = {
    'Series': ['ATP250', 'ATP250', 'ATP250', 'ATP250', 'ATP250', 'ATP250', 'ATP250', 'ATP250',
                        'ATP500', 'ATP500', 'ATP500', 'ATP500', 'ATP500', 'ATP500', 'ATP500', 'ATP500',
                        'Masters 1000', 'Masters 1000', 'Masters 1000', 'Masters 1000', 'Masters 1000', 'Masters 1000', 'Masters 1000', 'Masters 1000',
                        'Grand Slam', 'Grand Slam', 'Grand Slam', 'Grand Slam', 'Grand Slam', 'Grand Slam', 'Grand Slam', 'Grand Slam'],
    'Round': ['Champion', 'Runner-Up', 'Semifinals', 'Quarterfinals', '4th Round', '3rd Round', '2nd Round', '1st Round',
              'Champion', 'Runner-Up', 'Semifinals', 'Quarterfinals', '4th Round', '3rd Round', '2nd Round', '1st Round',
              'Champion', 'Runner-Up', 'Semifinals', 'Quarterfinals', '4th Round', '3rd Round', '2nd Round', '1st Round',
              'Champion', 'Runner-Up', 'Semifinals', 'Quarterfinals', '4th Round', '3rd Round', '2nd Round', '1st Round'],
    'Points': [250, 165, 100, 50, 25, 13, 0, 0,
               500, 330, 200, 100, 50, 25, 0, 0,
               1000, 650, 400, 200, 100, 50, 30, 10,
               2000, 1300, 800, 400, 200, 100, 50, 10]
}

# Crear el DataFrame con los puntos
points_df = pd.DataFrame(data)

# Mostrar el DataFrame
print(points_df.tail())

        Series          Round  Points
27  Grand Slam  Quarterfinals     400
28  Grand Slam      4th Round     200
29  Grand Slam      3rd Round     100
30  Grand Slam      2nd Round      50
31  Grand Slam      1st Round      10

In [153]:
#Agregamos una key, para unir los puntos a los torneos
points_df['key'] = points_df['Series'] + "_" + points_df['Round'].astype(str)

In [154]:
points_df.to_csv("Data_Puntos_ATP.csv", index=False)

Ahora verificamos cuantas rondas tienen los torneos.

In [155]:
#ATP250
atp250 = df_filtered[df_filtered['Series'] == 'ATP250']
rondas_atp250 = atp250['Round'].unique()
print(rondas_atp250)
rondas_conteo = atp250['Round'].value_counts()
print(rondas_conteo)

['1st Round' '2nd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '3rd Round' '0th Round']
Round
1st Round        4129
2nd Round        2577
Quarterfinals    1232
Semifinals        616
The Final         308
3rd Round         113
0th Round           1
Name: count, dtype: int64

Eliminaremos la fila con 0th Round que aparece, ya que no aporta nada.

In [156]:
df_filtered2 = df_filtered[~((df_filtered['Series'] == 'ATP250') & (df_filtered['Round'] == '0th Round'))]

In [157]:
#ATP250
atp250 = df_filtered2[df_filtered2['Series'] == 'ATP250']
rondas_atp250 = atp250['Round'].unique()
print(rondas_atp250)
rondas_conteo = atp250['Round'].value_counts()
print(rondas_conteo)

['1st Round' '2nd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '3rd Round']
Round
1st Round        4129
2nd Round        2577
Quarterfinals    1232
Semifinals        616
The Final         308
3rd Round         113
Name: count, dtype: int64

In [158]:
#ATP500
atp500 = df_filtered2[df_filtered2['Series'] == 'ATP500']
rondas_atp500 = atp500['Round'].unique()
print(rondas_atp500)
rondas_conteo = atp500['Round'].value_counts()
print(rondas_conteo)

['1st Round' '2nd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '3rd Round']
Round
1st Round        1452
2nd Round         888
Quarterfinals     356
Semifinals        178
3rd Round         176
The Final          89
Name: count, dtype: int64

In [159]:
#Masters 1000
masters1000 = df_filtered2[df_filtered2['Series'] == 'Masters 1000']
rondas_masters1000 = masters1000['Round'].unique()
print(rondas_masters1000)
rondas_conteo = masters1000['Round'].value_counts()
print(rondas_conteo)

['1st Round' '2nd Round' '3rd Round' '4th Round' 'Quarterfinals'
 'Semifinals' 'The Final']
Round
1st Round        1704
2nd Round        1344
3rd Round         672
Quarterfinals     272
Semifinals        136
4th Round         128
The Final          68
Name: count, dtype: int64

In [160]:
#Grand Slam
grandslam = df_filtered2[df_filtered2['Series'] == 'Grand Slam']
rondas_grandslam = grandslam['Round'].unique()
print(rondas_grandslam)
rondas_conteo = grandslam['Round'].value_counts()
print(rondas_conteo)

['1st Round' '2nd Round' '3rd Round' '4th Round' 'Quarterfinals'
 'Semifinals' 'The Final']
Round
1st Round        4352
2nd Round        2176
3rd Round        1088
4th Round         544
Quarterfinals     272
Semifinals        136
The Final          68
Name: count, dtype: int64

Como los ATP 250 y ATP 500 solamente tienen 3 rondas lo que haré será sumarle una ronda a cada ronda de estos torneos, es decir, el 1st Round será 2nd Round, el 2nd Round será 3rd Round y el 3rd Round será 4th Round.

In [161]:
# Cambiar '3th Round' a '4th Round' en torneos ATP250 y ATP500
df_filtered2.loc[
    (df_filtered2['Series'].isin(['ATP250', 'ATP500'])) &
    (df_filtered2['Round'] == '3rd Round'),
    'Round'
] = '4th Round'

In [162]:
# Cambiar '2nd Round' a '3rd Round' en torneos ATP250 y ATP500
df_filtered2.loc[
    (df_filtered2['Series'].isin(['ATP250', 'ATP500'])) &
    (df_filtered2['Round'] == '2nd Round'),
    'Round'
] = '3rd Round'

In [163]:
# Cambiar '1st Round' a '2nd Round' en torneos ATP250 y ATP500
df_filtered2.loc[
    (df_filtered2['Series'].isin(['ATP250', 'ATP500'])) &
    (df_filtered2['Round'] == '1st Round'),
    'Round'
] = '2nd Round'

Verificamos si se aplicó correctamente.

In [164]:
#ATP250
atp250 = df_filtered2[df_filtered2['Series'] == 'ATP250']
rondas_atp250 = atp250['Round'].unique()
print(rondas_atp250)
rondas_conteo = atp250['Round'].value_counts()
print(rondas_conteo)

['2nd Round' '3rd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '4th Round']
Round
2nd Round        4129
3rd Round        2577
Quarterfinals    1232
Semifinals        616
The Final         308
4th Round         113
Name: count, dtype: int64

In [165]:
#ATP500
atp500 = df_filtered2[df_filtered2['Series'] == 'ATP500']
rondas_atp500 = atp500['Round'].unique()
print(rondas_atp500)
rondas_conteo = atp500['Round'].value_counts()
print(rondas_conteo)

['2nd Round' '3rd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '4th Round']
Round
2nd Round        1452
3rd Round         888
Quarterfinals     356
Semifinals        178
4th Round         176
The Final          89
Name: count, dtype: int64

Ahora para poder matchear estas dos bases de datos, realizaré dos nuevas columnas en el dataset original que serán "Winner Result" y "Loser Result", donde en la columna "Winner Result" tendrá dos resultados, el primero "Champion" si ganó la final y "Next Round" si ganó cualquier otro partido que no fue la final. 
"Loser Result" será "Runner Up" si perdió la final, "Semifinal" si perdió la semifinal y así sucesivamente.

In [166]:
# Crear nueva columna para el resultado del ganador
df_filtered2['WinnerResult'] = df_filtered2['Round'].apply(lambda x: 'Champion' if x == 'The Final' else 'Next Round')

# Diccionario para mapear el resultado del perdedor según la ronda en que perdió
round_mapping = {
    'The Final': 'Runner-Up',
    'Semifinals': 'Semifinals',
    'Quarterfinals': 'Quarterfinals',
    '4th Round': '4th Round',
    '3rd Round': '3rd Round',
    '2nd Round': '2nd Round',
    '1st Round': '1st Round',
}

# Crear nueva columna para el resultado del perdedor
df_filtered2['LoserResult'] = df_filtered2['Round'].map(round_mapping)

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\129701108.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered2['WinnerResult'] = df_filtered2['Round'].apply(lambda x: 'Champion' if x == 'The Final' else 'Next Round')
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\129701108.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered2['LoserResult'] = df_filtered2['Round'].map(round_mapping)

In [167]:
# Vemos el DataFrame resultante
print(df_filtered2[['Winner', 'Loser', 'Round', 'WinnerResult', 'LoserResult']].head(10))

          Winner           Loser      Round WinnerResult LoserResult
155    Agassi A.       Puerta M.  1st Round   Next Round   1st Round
156     Alami K.        Manta L.  1st Round   Next Round   1st Round
157     Arazi H.       Alonso J.  1st Round   Next Round   1st Round
158   Behrend T.     Meligeni F.  1st Round   Next Round   1st Round
159  Bjorkman J.  Stoltenberg J.  1st Round   Next Round   1st Round
160     Black W.    Gambill J.M.  1st Round   Next Round   1st Round
161    Clavet F.       Hrbaty D.  1st Round   Next Round   1st Round
162   Clement A.   van Lottum J.  1st Round   Next Round   1st Round
163  Corretja A.     Sargsian S.  1st Round   Next Round   1st Round
164   Dosedel S.      Boutter J.  1st Round   Next Round   1st Round

In [168]:
print(df_filtered2.head(10))
df_filtered3 = df_filtered2

     ATP   Location       Tournament       Date      Series    Court Surface  \
155    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
156    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
157    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
158    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
159    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
160    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
161    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
162    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
163    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard
164    6  Melbourne  Australian Open 2000-01-17  Grand Slam  Outdoor    Hard

         Round  Best of       Winner  ... L5  Wsets  Lsets    Comment  WPts  \
155  1st Round        5    Agassi A.  ...  0      3      0  Completed     0
156  1st Round        5     Alami K.  ...  0      3      0  Completed     0
157  1st Round        5     Arazi H.  ...  0      3      0  Completed     0
158  1st Round        5   Behrend T.  ...  0      3      2  Completed     0
159  1st Round        5  Bjorkman J.  ...  4      3      2  Completed     0
160  1st Round        5     Black W.  ...  0      3      0  Completed     0
161  1st Round        5    Clavet F.  ...  0      3      1  Completed     0
162  1st Round        5   Clement A.  ...  0      2      0    Retired     0
163  1st Round        5  Corretja A.  ...  0      3      0  Completed     0
164  1st Round        5   Dosedel S.  ...  0      3      1  Completed     0

     LPts  Year              TorneoID  WinnerResult  LoserResult
155     0  2000  Australian Open_2000    Next Round    1st Round
156     0  2000  Australian Open_2000    Next Round    1st Round
157     0  2000  Australian Open_2000    Next Round    1st Round
158     0  2000  Australian Open_2000    Next Round    1st Round
159     0  2000  Australian Open_2000    Next Round    1st Round
160     0  2000  Australian Open_2000    Next Round    1st Round
161     0  2000  Australian Open_2000    Next Round    1st Round
162     0  2000  Australian Open_2000    Next Round    1st Round
163     0  2000  Australian Open_2000    Next Round    1st Round
164     0  2000  Australian Open_2000    Next Round    1st Round

[10 rows x 32 columns]

In [169]:
#Ahora asignaremos los puntos obtenidos por cada jugador según la ronda a la que llegaron

# Creamos el diccionario de puntos a partir del DataFrame points_df
points_dict = dict(zip(points_df['key'], points_df['Points']))

# Crear la columna 'key' para el ganador
df_filtered3['WinnerKey'] = df_filtered3['Series'] + '_' + df_filtered3['WinnerResult']

# Crear la columna 'key' para el perdedor
df_filtered3['LoserKey'] = df_filtered3['Series'] + '_' + df_filtered3['LoserResult']

# Asignar puntos al ganador
df_filtered3['Winner_ExpectedPoints'] = df_filtered3['WinnerKey'].map(points_dict)

# Asignar puntos al perdedor
df_filtered3['Loser_ExpectedPoints'] = df_filtered3['LoserKey'].map(points_dict)

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3489068626.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['WinnerKey'] = df_filtered3['Series'] + '_' + df_filtered3['WinnerResult']
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3489068626.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['LoserKey'] = df_filtered3['Series'] + '_' + df_filtered3['LoserResult']
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3489068626.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['Winner_ExpectedPoints'] = df_filtered3['WinnerKey'].map(points_dict)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3489068626.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['Loser_ExpectedPoints'] = df_filtered3['LoserKey'].map(points_dict)

In [170]:
# Vemos las nuevas columnas
print(df_filtered3['Loser_ExpectedPoints'])

155       10
156       10
157       10
158       10
159       10
        ...
46647     50
46648     50
46649    100
46650    100
46651    165
Name: Loser_ExpectedPoints, Length: 25074, dtype: int64

In [171]:
#Cambiamos los NaN por 0 en la columna Winner_ExpectedPoints
df_filtered3['Winner_ExpectedPoints'].fillna(0, inplace=True)
# Convertimos la columna Winner_ExpectedPoints a int
df_filtered3['Winner_ExpectedPoints'] = df_filtered3['Winner_ExpectedPoints'].astype(int)
print(df_filtered3['Winner_ExpectedPoints'])

155        0
156        0
157        0
158        0
159        0
        ...
46647      0
46648      0
46649      0
46650      0
46651    250
Name: Winner_ExpectedPoints, Length: 25074, dtype: int64

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1397775018.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtered3['Winner_ExpectedPoints'].fillna(0, inplace=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1397775018.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['Winner_ExpectedPoints'].fillna(0, inplace=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\1397775018.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['Winner_ExpectedPoints'] = df_filtered3['Winner_ExpectedPoints'].astype(int)

Realizando gráficos me di cuenta que en la columna Surface hay unos partidos jugados en Carpet, que es una superficie dura, por lo que cambiaremos todos estos partidos a superficie "Hard"

In [172]:
df_filtered3['Surface'] = df_filtered3['Surface'].replace('Carpet', 'Hard')
df_filtered3['Surface'].value_counts()

C:\Users\Nico\AppData\Local\Temp\ipykernel_20092\3900511526.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered3['Surface'] = df_filtered3['Surface'].replace('Carpet', 'Hard')

Surface
Hard     13664
Clay      7821
Grass     3589
Name: count, dtype: int64

In [173]:
df_filtered3.to_csv("Data_Final_ATP.csv", index=False)

Agregamos una base de datos con información sobre los jugadores.

In [174]:
df_players = pd.read_csv('player_overviews.csv', header=None)

df_players.columns = ['player_id', 'player_slug', 'first_name', 'last_name', 'player_url', 'flag_code', 'residence', 'birthplace', 'birthdate', 'birth_year', 'birth_month', 'birth_day', 'turned_pro', 'weight_lbs', 'weight_kg', 'height_ft', 'height_inches', 'height_cm', 'handedness', 'backhand']

df_players.head()

,player_id,player_slug,first_name,last_name,player_url,flag_code,residence,birthplace,birthdate,birth_year,birth_month,birth_day,turned_pro,weight_lbs,weight_kg,height_ft,height_inches,height_cm,handedness,backhand
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,1.0,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,2.0,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,4.0,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,6.0,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,11.0,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN

In [175]:
#Creamos una nueva columna, para que los nombres de los jugadores tengan el formato del dataset original es decir Apellido N.

df_players['displayname'] = df_players['last_name'].str.title() + ' ' + df_players['first_name'].str[0].str.upper() + '.'
df_players.head()

,player_id,player_slug,first_name,last_name,player_url,flag_code,residence,birthplace,birthdate,birth_year,...,birth_day,turned_pro,weight_lbs,weight_kg,height_ft,height_inches,height_cm,handedness,backhand,displayname
0,a002,ricardo-acuna,Ricardo,Acuna,http://www.atpworldtour.com/en/players/ricardo...,CHI,"Jupiter, FL, USA","Santiago, Chile",1958.01.13,1958.0,...,13.0,0.0,150.0,68.0,"5'9""",69.0,175.0,NaN,NaN,Acuna R.
1,a001,sadiq-abdullahi,Sadiq,Abdullahi,http://www.atpworldtour.com/en/players/sadiq-a...,NGR,NaN,NaN,1960.02.02,1960.0,...,2.0,0.0,0.0,0.0,"0'0""",0.0,0.0,NaN,NaN,Abdullahi S.
2,a005,nelson-aerts,Nelson,Aerts,http://www.atpworldtour.com/en/players/nelson-...,BRA,NaN,"Cachoeira Do Sul, Brazil",1963.04.25,1963.0,...,25.0,0.0,165.0,75.0,"6'2""",74.0,188.0,NaN,NaN,Aerts N.
3,a004,egan-adams,Egan,Adams,http://www.atpworldtour.com/en/players/egan-ad...,USA,"Palmetto, FL, USA","Miami Beach, FL, USA",1959.06.15,1959.0,...,15.0,0.0,160.0,73.0,"5'10""",70.0,178.0,NaN,NaN,Adams E.
4,a006,ronald-agenor,Ronald,Agenor,http://www.atpworldtour.com/en/players/ronald-...,USA,"Beverly Hills, California, USA","Rabat, Morocco",1964.11.13,1964.0,...,13.0,1983.0,180.0,82.0,"5'11""",71.0,180.0,NaN,NaN,Agenor R.

In [176]:
df_players = df_players[df_players['displayname'] != 'Unknown U.']
df_players = df_players[
    (df_players['displayname'].notna()) & 
    (df_players['displayname'] != '') & 
    (df_players['displayname'] != 'Unknown U.')
]

In [181]:
df_players = df_players.drop_duplicates(subset=['displayname'])

df_players = df_players[df_players['flag_code'].notna()]

In [182]:
#Guardamos el dataset

df_players.to_csv("info_winners.csv", index=False)

In [179]:
#Crearemos un nuevo dataset de solo los finalistas a partir del dataset original
df_finals = df_filtered3[df_filtered3['Round'] == 'The Final']

winners = df_finals[['Winner', 'Series','Tournament', 'Year', 'WRank', 'Surface']].rename(columns={'Winner': 'Finalista'})
losers = df_finals[['Loser', 'Series','Tournament', 'Year', 'LRank', 'Surface']].rename(columns={'Loser': 'Finalista'})

finalists = pd.concat([winners, losers])

finalists = finalists.fillna(0)

finalists['WRank'] = finalists['WRank'].astype(int)

finalists['LRank'] = finalists['LRank'].astype(int)

finalists['Tournament_Year'] = finalists['Tournament'] + '_' + finalists['Year'].astype(str)

finalists.head()

,Finalista,Series,Tournament,Year,WRank,Surface,LRank,Tournament_Year
281,Agassi A.,Grand Slam,Australian Open,2000,1,Hard,0,Australian Open_2000
1415,Kuerten G.,Grand Slam,French Open,2000,5,Clay,0,French Open_2000
1690,Sampras P.,Grand Slam,Wimbledon,2000,3,Grass,0,Wimbledon_2000
2395,Safin M.,Grand Slam,US Open,2000,7,Hard,0,US Open_2000
3244,Agassi A.,Grand Slam,Australian Open,2001,6,Hard,0,Australian Open_2001

In [180]:
#guardamos el dataset

finalists.to_csv('finalistas.csv', index=False)